﻿@model DziekanatMVC.Models.Oceny

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Oceny</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Przedmioty.NazwaPrzedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Przedmioty.NazwaPrzedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Imię)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Imię)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
