﻿@using PagedList.Mvc;
@model PagedList.IPagedList<DziekanatMVC.Models.Student>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Studenci</h2>
@using (Html.BeginForm())
{
    <p>
        Szukaj po nazwisku: @Html.TextBox("SearchString") <input type="submit" value="Szukaj" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th> @Html.ActionLink("Indeks", "Index", new { sortOrder = ViewBag.IndeksSortParm }) </th>
        <th> Imię </th>
        <th> @Html.ActionLink("Nazwisko", "Index", new { sortOrder = ViewBag.NazwiskoSortParm }) </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Indeks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imię)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Indeks }) |
            @Html.ActionLink("Details", "Details", new { id=item.Indeks }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Indeks })
        </td>
    </tr>
}

</table>
<br /> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
